<mf-header></mf-header>
<div class="container">
  <mz-card [hoverable]="true">
    <mz-card-title style="padding-left: 7px;">
      <div class="card-image left" *ngIf="restaurante">
        <img src="{{restaurante?.imagePath}}" style="width:135px !important;height:100px !important;" />
      </div>
      {{restaurante?.nome}}
    </mz-card-title>
    <mz-card-content>
      <p style="padding-left: 140px;">
        {{restaurante?.descricao}}
      </p>
      <br>
      <br>
    </mz-card-content>
    <mz-card-action>
      <ul class="tabs tabs-fixed-width  ">
        <li class="tab">
          <a  routerLinkActive="active" href="" [routerLink]="['cardapio']">Cardápio</a>
        </li>
        <li class="tab">
          <a routerLinkActive="active" href="" [routerLink]="['avaliacoes']">Avaliações</a>
        </li>
      </ul>
      <router-outlet></router-outlet>
    </mz-card-action>
  </mz-card>

</div>
