<mz-sidenav #sidenav [id]="'sidenav-demo'" [collapseButtonId]="'openHeader'">
  <mz-sidenav-header>
  </mz-sidenav-header>
  <mz-sidenav-subheader>
      <button mz-button [routerLink]="['/entrar-ou-cadastrar']">Entrar/Cadastrar-me</button>
  </mz-sidenav-subheader>
  <mz-sidenav-link>
    <a href="#">First Link</a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link [active]="true">
    <a href="#">Active Link</a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link>
    <a href="#" class="waves-effect">Second Link With Waves</a>
  </mz-sidenav-link>
</mz-sidenav>

<mz-navbar navbarClass="red darken-1">
  <mz-navbar-item-container id="menuMobile" [align]="'left hide-on-large-only'">
    <mz-navbar-item>
      <i mz-icon-mdi mz-input-prefix id="openHeader" [icon]="'menu'" (click)="sidenav.opened = !sidenav.opened">
      </i>
    </mz-navbar-item>
  </mz-navbar-item-container>

  <div class="container">
    <a [routerLink]="['/home']" class="brand-logo">
      Master food</a>
    <mz-navbar-item-container id="itensHeader" [align]="'right hide-on-med-and-down'">
      <!-- <mz-navbar-item>
        <a [routerLink]="['/admin']">Painel Admin</a>
      </mz-navbar-item> -->
      <mz-navbar-item>
        <a [routerLink]="['/sobre']">Sobre</a>
      </mz-navbar-item>
      <mz-navbar-item>
        <button mz-button [routerLink]="['/login']">Entrar/Cadastrar-me</button>
      </mz-navbar-item>
    </mz-navbar-item-container>
  </div>
</mz-navbar>
