<mf-header></mf-header>
<div class="container">
  <mz-card [hoverable]="true">
    <mz-card-title>
      teste
    </mz-card-title>
    <mz-card-content>
      Restaurante descricao
    </mz-card-content>
    <mz-card-action>
      <mz-tab [fixedTabWidth]="'true'" [onShow]="" [responsiveThreshold]="'true'" [swipeable]="'true'">
        <mz-tab-item [active]="'true'" [label]="'Tab 1'">
          Tab 1
        </mz-tab-item>
        <mz-tab-item [label]="'Tab 2'">Tab 2</mz-tab-item>
        <mz-tab-item [label]="'Tab 3'">Tab 3</mz-tab-item>
      </mz-tab>
    </mz-card-action>
  </mz-card>
</div>
