<mf-header-admin></mf-header-admin>
<div class="container">
    <mz-sidenav #adminsidenav [id]="'sidenav-admin'" [collapseButtonId]="'btn-sidenav-admin'">
      <mz-sidenav-link>
        <a [routerLink]="['teste-grid']">Teste Grid</a>
      </mz-sidenav-link>
      <mz-sidenav-divider></mz-sidenav-divider>
      <mz-sidenav-link [active]="true">
        <a href="#">Active Link</a>
      </mz-sidenav-link>
      <mz-sidenav-divider></mz-sidenav-divider>
      <mz-sidenav-link>
        <a href="#" class="waves-effect">Second Link With Waves</a>
      </mz-sidenav-link>
    </mz-sidenav>
    <router-outlet></router-outlet>
  </div>
