<mz-sidenav #sideNavAdmin [id]="'sidenav-demo'" [collapseButtonId]="'openSide'" [closeOnClick]="true">
  <mz-sidenav-header>
  </mz-sidenav-header>
  <mz-sidenav-subheader>
  </mz-sidenav-subheader>
  <mz-sidenav-link>
    <button mz-button class="red" [routerLink]="['/home']" (click)="sideNavAdmin.opened = !sideNavAdmin.opened">Sair</button>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a [routerLink]="['cadastro-restaurantes']" class="waves-effect">Cadastro Restaurantes</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a href="#">First Link</a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link [active]="true">
    <a href="#">Active Link</a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
</mz-sidenav>
<mz-navbar navbarClass="red darken-1">
  <mz-navbar-item-container id="menuMobile" [align]="'left'">
    <mz-navbar-item>
      <i mz-icon-mdi mz-input-prefix id="openSide" [icon]="'menu'">
      </i>
    </mz-navbar-item>
  </mz-navbar-item-container>

  <div class="container">
    <a [routerLink]="['/home']" class="brand-logo">
      Master food</a>
    <mz-navbar-item-container id="itensHeader" [align]="'right hide-on-med-and-down'">
      <mz-navbar-item>
        <a [routerLink]="['/sobre']">Sobre</a>
      </mz-navbar-item>
      <mz-navbar-item>
        <button mz-button (click)="openModal()">Modal Service</button>
      </mz-navbar-item>
      <mz-navbar-item>
        <button mz-button [routerLink]="['/home']">Sair</button>
      </mz-navbar-item>
    </mz-navbar-item-container>
  </div>
</mz-navbar>
